apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vue-auth
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:patrice3456700/infra.git
    targetRevision: master
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
